<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button routerLink="/botones">Botones</ion-button>
  <ion-button routerLink="/badge">Badges</ion-button>
  <ion-button routerLink="/cards">Cards</ion-button>
  <ion-button routerLink="/checkbox">Checkbox</ion-button>
  <ion-button routerLink="/chip">Chip</ion-button>
  <ion-button routerLink="/datetime">Datetime</ion-button>
  <ion-button routerLink="/picker">Picker</ion-button>
  <ion-button routerLink="/fab">Fab</ion-button>
  <ion-button routerLink="/grid">Grid</ion-button>
  <ion-button routerLink="/area">Area</ion-button>
  <ion-button routerLink="/infinite-scroll">infinite Scroll</ion-button>
  <ion-button routerLink="/inputs">Inputs</ion-button>
  <ion-button routerLink="/items">items</ion-button>
  <ion-button routerLink="/item-divider">item-divider</ion-button>
</ion-content>